@model ComplaintBook.Models.DataBase.Grade

@{
    ViewData["Title"] = "Подробнее";
}

<h2>Детали отзыва</h2>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SenderName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SenderName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SenderEmail)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SenderEmail)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IsAccepted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IsAccepted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Message)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Message)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.InternalReportType)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InternalReportType)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Score)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Score)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd>
            @Model.Employee.Post.Name @Html.DisplayFor(model => model.Employee.LastName) @Html.DisplayFor(model => model.Employee.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Редактировать</a> |
    <a asp-action="Index">Вернуться</a>
</div>
